/* Copyright Nettium */

/* Body styling for browser */
    /* HTML position/height/width */
        html {
            position:relative;
            height: 100%;
            width: 100%;
        }
        
    /* Body height/margin/width/position thing */
        body {
            position:absolute;
            min-width: 100%;
            min-height: 100%;
            margin: 0px;
        }
        
/* Text styling */
    /* Main text styling paragraph */
        p.maintext {
            link-decoration: underline;
            color: #000000;
            font-family: "verdana",geneva,sans-serif;
            text-align: left;
            font-size: 16px;
        }
        
    /* Main title styling paragraph */
        p.maintitle {
            link-decoration: underline;
            color: #000000;
            font-family: "verdana",geneva,sans-serif;
            text-align: left;
            font-size: 24px;
        }
        
    /* Link styling non-visited */
        a.menu:link {
            text-decoration: none;
            color: #ffffff;
            font-family: verdana;
        }
        
    /* Link styling visited */
        a.menu:visited {
            text-decoration: none;
            color: #ffffff;
            font-family: verdana;
        } 
        
    /* Menu text styling paragraph */
        p.menutext {
            text-decoration: none;
            color: #ffffff;
            font-family: "verdana",geneva,sans-serif;
            text-align: left;
            font-size: 16px;
        }
    
    /* Menu title styling paragraph */
        p.menutitle {
            text-decoration: none;
            color: #ffffff;
            font-family: "verdana",geneva,sans-serif;
            text-align: left;
            font-size: 24px;
        }
    
/* Main margin */
    /* Main margin desktop */
        @media screen and (min-width: 481px) {
            div#main {
                margin-left: 20px;
                margin-right: 20px;
                position: relative;
                z-index: 1;
            }
        }
        
    /* Main margin mobile */
        @media screen and (max-width: 480px) {
            div#main {
                margin-bottom: 147px;
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                z-index: 1;
            }
        }
    }

/* Other */
    ::selection {
        background: #c1c1c1;
    }
    
    ::-moz-selection {
        background: #c1c1c1;
    }

/* Bootstrap styling */
    /* Buttons */
    .btn {
        border-radius: 0px;
    }